form{
    font-family: "Roboto", sans-serif;
    background: white;
    width:90%;
    max-width: 800px;
    margin:50px auto;
    font-family: Calibri, Arial, sans-serif;
    padding:20px;
  }
h1, p{
  text-align: center;
}
label{
  display:block;
  margin:1em 0 .2em;
}

input, select, textarea{
  display:block;
  width:100%;
  padding:.3em;
  font-size:20px;
  background-color:#fbfbfb;
  border:solid 1px #CCC;
  resize:vertical;
}
textarea{
  min-height:180px;
}
select{
  color:indigo;
}


